a {
	text-decoration: none !important;
}
html {
  overflow-y: scroll;
}
@font-face {
    font-family: helveticaNeueUltraLight;
    src: url(../fonts/HelveticaNeueLTStd-UltLt.otf);
}
@font-face {
    font-family: helveticaNeueUltraLightItalic;
    src: url(../fonts/HelveticaNeueLTStd-UltLtIt.otf);
}
@font-face {
    font-family: helveticaNeueLight;
    src: url(../fonts/HelveticaNeueLTStd-Lt.otf);
}
@font-face {
    font-family: helveticaNeueBold;
    src: url(../fonts/HelveticaNeueBold.otf);
}
@font-face {
    font-family: astloch;
    src: url(../fonts/Astloch.ttf);
}
@font-face {
    font-family: vniavo;
    src: url(../fonts/VAVON.TTF);
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{
    font-family: vniavo;
    letter-spacing: 2px;
}
.wh-info-box a span{
  font-size:10px;
  font-family:helveticaNeueLight;
  margin-top:0;
  opacity:0.6;
  transition: opacity linear .2s;
}
.wh-info-box a span i{
  position:relative;
  top:1px;
  font-size:15px;
}
.wh-info-box a span.black, .wh-info-box span.black span{
  color:black !important;
}
.wh-info-box a span:hover{
  opacity:1;
}
.wh-info-box{
  /* top:0; */
  bottom: 10px;
  left:0;
  height:35px;
  width:100%;
}
.gallery-item{
  padding:2px;
}
.gallery-item:hover .wh-info-box-inner{
  opacity:1;
}
.wh-info-box:before{
  background-color:none;
}
.wh-info-box span{
  font-family:helveticaNeueLight;
  color:white;
}
.wh-info-box span.arrow{
  float:none;
}
.wh-info-box span.project_name{
  font-size:13px;
}
.wh-info-box-inner{
  margin:0 !important;
  top:0;
  height:100%;
  display:block;
}
.wh-info-box-inner .wh-info-box-inner-item{
    position:absolute;
    bottom:10px;
    left:10px;
    text-align: left;
}
.arrow-right::before{
  content:">";
  display:inline-block;
}
.arrow-left::before{
  content:">";
  display:inline-block;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.arrow-up::before{
  content:">";
  display:inline-block;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.arrow-down::before{
  content:">";
  display:inline-block;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.wrapper-3{
    width:100%;
}
.section-wrapper.wrapper-3 .section-header{
  padding: 25px 25px 24px 56px;
  background-color: white;
  color:black;
  text-align: left;
}
.section-wrapper.wrapper-3 .section-header.gallery-header{
  background-color:white;
}
.section-wrapper.wrapper-3 .section-header.section-header-center{
  padding:0;
}
.section-wrapper.wrapper-3 .section-header .section-title{
  display:block;
  font-size:12px;
  color:black;
  font-family:helveticaNeueLight;
  text-transform: uppercase;
}
.section-wrapper.wrapper-3 .section-header .section-link{
  display:block;
  padding-top:6px;
  font-size:10px;
  color:black;
  font-family:helveticaNeueLight;
  text-transform: uppercase;

}
.gallery-filters:hover{
	text-decoration: none;
}
.gallery-filters{
  text-align:left;
}
.gallery-filters a{
  color:black;
  font-size:10px;
  font-family: helveticaNeueLight;
  padding: 0 3px 3px 3px;
  text-transform: uppercase;
}
.gallery-filters a.gallery-filter-active{
  border-bottom:1px solid black;
}
.gallery-filters .gallery-filter-wrapper{
  display:inline-block;
  width:auto;
  margin: 0 20px;
  }
@media only screen and  (max-width: 767px) {
  .gallery-filters .gallery-filter-wrapper{
    margin:7px 0;
    width:40%;
  }
}
.show-social {
  position:absolute;
  top:27px;
  right:26px;
  z-index:21;
  cursor:pointer;
}
.volume-control {
    top: 10px;
    right: 84px;
}

.volume-control {
  position:absolute;
  top:18px;
  right:84px;
  z-index:21;
  cursor:pointer;
}
.volume-control i{
  font-size:16px;
  padding:6px 0 0 6px;
}
.scroll-box{
    padding: 0;
	padding-bottom: 5px;
}
.slick-dots li button:before{
    width: 5px;
    height: 5px;
    content: '';
    text-align: center;
    opacity: 1;
    border-radius: 50%;
    background:#656565;
}
.slick-dots li.slick-active button:before{
  opacity:1;
  background:white;
}
.slick-dots{
  text-align:left;
  padding-left:48px;
}

.home-slider{
    position:relative;
    margin-top:-47px;
    width:100vw;
    height:100vh;
    background-size: cover;
    background-position:center center;
}
.slider-text{
    position: absolute;
    top: 50%;
    left: 0;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index:3;
}
.slider-arrow{
    position: absolute;
    top: 97%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color:#cccccc;
    font-size:25px;
}
.slider-header{
    font-size:58px;
    font-family:helveticaNeueUltraLight;
    color:white;
    letter-spacing:8px;
    position:relative;
    opacity:0;
    top:30px;
    padding-bottom:5px;
	text-shadow: 2px 2px 2px #000;
}
.slider-link{
    font-size:19px;
    position:relative;
    opacity:0;
    top:40px;
	color: white;
}
.slider-link a{
    transition: color linear .2s;
}
.slider-link a:hover{
  color: #ffffff;
}
.slider-link .arrow{
   position:relative;
   font-size:13px;
   top:-1px;
}
.slider-arrow .arrow{
    position:relative;
    opacity:0;
    top:-40px;
}
#pageloader{
    width: 100%;
    height: 100%;
    position: relative;
    top:0;
    z-index: 99999;
    background-color: white;
}

#pageloader .spinner {
    /* margin-left: auto; */
	/* margin-right: auto; */
    /* text-align: center; */
    /* position: relative; */
}
#pageloader .spinner img{
	position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;  
}
#pageloader .spinner h1{
    opacity: 1;
    color:white;
    font-size:20px;
}
.slider-titleh{
	font-size: 6vw;
}
.slider-infoh{
	font-size: 1vw;
	letter-spacing: 4px;
	color: #a9a9a9;
}
.slider-linkh{
	font-size: 0.8vw;
	border-bottom: 1px solid;
    padding-bottom: 1px;
	color: #a9a9a9;
}
.slider-linkh a{
	color: #a9a9a9;
}
@media only screen and  (max-width: 540px) {
	.show-share{
		right:20px;
	}
	.show-information{
		display:none !important;
	}
	.volume-control{
		right:54px;
	}
	.slider-titleh{
		font-size: 8vw;
	}
	.slider-infoh{
		font-size: 3.9vw;
	}
	.slider-linkh{
		font-size: 3vw;
	}
}
.show-information {
  position:absolute;
  top:27px;
  right:130px;
  z-index:21;
  cursor:pointer;
}
.show-information i{
  font-size:16px;
  padding:6px 0 0 6px;
}
.nav-inner nav li.subnav  i.subnavicon{
	display: none;
}
.whitetext{
	color: #fff !important;
}
.whitetext .btn{
	color: #fff !important;
}
@media only screen and  (max-width: 540px) {
  .show-information {
    right:90px;
  }
  .scroll .arrow{
    font-size:20px;
    margin-left:-5px;
  }
  .show-social{
		right: 40px;
	}
	.volume-control{
		display:none !important;
	}
	.gallery-item .wh-info-box-inner{
	  opacity:1 !important;
	}
	.contact-bg{
		background:none !important;
	}
	.slider-text{
		position: absolute;
		top: 25%;
		left: 0 !important;
		right: 50% !important;
		margin-right: -50%;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		z-index:3;
	}
	.nav-inner nav li.subnav  i.subnavicon{
		display: block;
	}
	.share-container{
		top: 0;
	}
	.whitetext{
		color: #000 !important;
	}
	.whitetext .btn{
		color: #000 !important;
	}
	.teamswrap{
		    width: 100% !important;
			padding: 0 50px !important;
	}
}
/* iPad Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.slider-text{
			position: absolute;
			top: 25%;
			left: 0 !important;
			right: 50% !important;
			margin-right: -50%;
			-webkit-transform: none;
			-ms-transform: none;
			transform: none;
			z-index:3;
		}
}

/* iPad Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
.slider-text{
		position: absolute;
		top: 25%;
		left: 0 !important;
		right: 50% !important;
		margin-right: -50%;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		z-index:3;
	}
}

.show-information{
  opacity:1;
}
.show-information .information-close{
  width:20px;
  height:50px;
}
.show-information.isShare span{
  display:inline-block;
  color:black;
}
.show-information i{
  display:block;
}
.show-information span{
  display:block;
  width:15px;
  height:1px;
  background:#fff;
  position:relative;
}
.show-information.isShare span{
  display:block;
}
.show-information span.nos  {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top:14px;
  left:3px;
}
.show-information span.ncs{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top:13px;
  left:3px;
}

.footer{
    background-color: #000;
    text-align: left;
    color:white;
}
.footer .container{
    padding:40px 0;
}
.footer-title{
    font-family: helveticaNeueLight;
    font-size:14px;
    margin-bottom:10px;
    margin-top:20px;
    cursor:default;
}
.footer-details span{
  display:inline-block;
  font-family: helveticaNeueLight;
  font-size:10px;
  margin-bottom:9px;
  text-transform: uppercase;
}
.footer-details i.fa{
  font-size:20px;
  color:#e6e6e6;
  padding-right:5px;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.footer-details i.fa:hover{
  color:white;
}
.footer-details a{
  color:#e6e6e6;
  font-family: helveticaNeueLight;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.footer-details a:hover{
  color:white;
}
.content{
	padding-bottom:0px;
}
.logo-holder {
    position: relative;
    margin: 0 auto;
    line-height: 60px;
    left: 50px;
    float: left;
	top: 5px;
    /* max-width: 150px; */
}
.nav-button{
	    left: 120px;
}
.header-title{
	left: 160px;
	top: 25px;
}
.nav-inner{
	bottom:0px;
}
footer{
	background: transparent;
	color: #fff;
}
.policy-box{
	color: #fff;
}
.b-lazy {
	max-width: 100%;
}
.small-container{
	margin-bottom: 50px;
}
.footer-social li a span{
	color: #fff;
}
.nav-inner nav li{
	font-size: 13px;
    text-transform: uppercase;
}
.footer-social a{
	color: #fff;
}
.share-inner{
	width: 350px;
}
.show-share{
	    top: 27px;
    right: 43px;
}
.construc{
	padding:0;
	font-size:10px;
	text-decoration: underline !important;
}
.resp-video{
	padding-top: 0;
    margin-bottom: 0;
}
#play {
    background: url('../images/play.png') center center no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 70px;
    margin: -35px 0 0 -35px;
    z-index: 10;
}

/* .modal-fullscreen */

.modal-fullscreen {
  background: transparent;
}
.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
}

.ourteam .dec-text{
	text-align:center;
}
.ourteam .small-container{
	max-width: 80%;
}
.ourteam p{
	text-align:center;
}
.ourteam a{
	text-align:center;
}
.fixed-info-container p, li{
	font-family:arial;
}